.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.navBar button {
  font-size: 18px;
  padding: 12px 24px;
  min-width: 180px;
  margin: 10px;
}

.large-button {
  font-size: 18px;
  padding: 12px 24px;
  min-width: 180px;
}
