.btn-color {
    background-color: #0e1c36;
    color: #fff;
  }
  
  .profile-image-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  .cardbody-color {
    background-color: #ebf2fa;
  }
  
  a {
    text-decoration: none;
  }
  
  .background-image {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to top,
        transparent 10%,
        rgba(208, 228, 33, 0.5) 50%,
        rgb(156, 39, 104) 95%
      ),
      url("../../../assets/fondo-card.gif");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  