<div class="background-image">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center text-white mt-5">Registro</h2>
        <div class="card my-5">
          <form class="card-body cardbody-color p-lg-5">
            <div class="text-center">
              <img
                src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
                class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="200px"
                alt="profile"
              />
            </div>

            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="nombre"
                aria-describedby="nombreHelp"
                placeholder="Nombre"
              />
            </div>
            <div class="mb-3">
              <input
                type="email"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
                placeholder="Correo Electrónico"
              />
            </div>
            <div class="mb-3">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Contraseña"
              />
            </div>
            <div class="text-center">
              <button
                type="submit"
                class="btn btn-color px-5 mb-3 w-100"
                (click)="registro()"
              >
                Registrarse
              </button>
            </div>
            <div id="emailHelp" class="form-text text-center mb-3 text-dark">
              ¿Ya tienes una cuenta?
              <a href="#" class="text-dark fw-bold">Iniciar sesión</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
